.widget {
  display: flex;
  flex: 1;
  justify-content: space-between;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  padding: 10px;
  height: 100px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 14px;
      font-weight: bold;
      color: gray;
    }

    .counter {
      font-size: 24px;
      font-weight: 500;
    }

    .link {
      border-bottom: 1px solid gray;
      cursor: pointer;
    }

    .percentage {
      display: flex;
      align-items: center;
    }

    .icon {
      align-self: flex-end;
      padding: 5px;
      border-radius: 5px;
    }
  }
}

@media (max-width: 575.98px) {
  .widget {
    // display: flex;
    // flex: 1;
    // justify-content: space-between;
    // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    // box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    // border-radius: 10px;
    // padding: 10px;
    // height: 100px;
    // height: 400px;

    .left,
    .right {
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      gap: 10px;

      .title {
        // font-size: 12px;

        // font-weight: bold;
        // color: gray;
      }

      .counter {
        // font-size: 16px;

        // font-weight: 500;
      }

      .link {
        // border-bottom: 1px solid gray;
        // cursor: pointer;

        // font-size: 12px;
      }

      .percentage {
        // display: flex;
        // align-items: center;

        // font-size: 14px;
      }

      .icon {
        // align-self: flex-end;
        // padding: 5px;
        // border-radius: 5px;

        // font-size: 16px;
      }
    }
  }
}
