.app.dark {
  background-color: #111;
  color: lightgray;

  .navbar {
    color: lightgray;
    border-bottom: 0.5px solid #333;

    .wrapper {
      .search {
        border: 1px solid #333;
        input {
          color: lightgray;
        }
      }
    }
  }

  .widget {
    .left {
      .title {
        font-weight: 300;
        color: lightgray;
      }
    }
  }

  .sidebar {
    border-right: 0.5px solid #333;
    background-color: #111;
    color: lightgray;

    .top {
      border-bottom: 0.5px solid #333;

      .logo {
        color: lightgray;
      }
    }

    .center {
      ul {
        .title {
          color: lightgray;
        }

        li {
          &:hover {
            background-color: #333;
          }

          .icon {
            color: lightgray;
          }
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: lightgray;

      .MuiCheckbox-root {
        color: #999;
      }

      .MuiTablePagination-root {
        color: lightgray;
      }
    }

    .cellAction {
      .viewButton {
        color: lightgray;
        border: 1px solid blue;
      }

      .deleteButton {
        color: lightgray;
        border: 1px solid crimson;
      }
    }
  }

  .basicTable {
    .table {
      border: 1px solid #888;
      background-color: #111;
      .tableCell {
        color: lightgray;
      }
    }
  }
}
